<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oofdere</title>
    <link rel="stylesheet" href="/assets/home.css">
    
    <!-- Web Monetization -->
    <meta name="monetization" content="$ilp.uphold.com/GAgELwPbUpUD">

    <!-- SEO & Social -->
    <meta name="description" content="oofdere, on the web">
    <meta property="og:title" content="oofdere">
    <meta property="og:description" content="oofdere, on the web">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="oofdere">
    <meta name="twitter:site" content="@oofdere">
    <meta name="twitter:creator" content="@oofdere">
</head>
<body>
    <div id="container">
        <div id="topright">
            <ul class="vertical-nav align-right">
                <li class="nav-element"><a href="contact.html">contact</a></li>
                <li class="nav-element"><a href="social.html">social</a></li>
                <li class="nav-element"><a href="about.html">about</a></li>
            </ul>
        </div>
    
        <div id="hero">
             <img src="/assets/hero-logo.svg" alt="oofdere" />
        </div>
    
        <div id="bottom">
            <div id="bottomleft">
                <ul class="vertical-nav align-left">
                    <!--
                    <li class="nav-element"><a href="blog.html">blog</a></li>
                    <li class="nav-element"><a href="video.html">video</a></li>
                    -->
                    <li class="nav-element"><a href="timeline.html">timeline</a></li>
                    <li class="nav-element"><a href="projects.html">projects</a></li>
                    
                </ul>
            </div>
        
            <div id="bottomright" class="align-right">
                <p>(C) 2021 Tibet Tornaci | <a href="credits.html">Credits</a></p>
            </div>
        </div>
    </div>
</body>
</html>
