<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oofdere</title>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
    <div id="container">
        <div id="topright">
            <ul class="vertical-nav align-right">
                <li class="nav-element"><a href="contact.html">contact</a></li>
                <li class="nav-element"><a href="social.html">social</a></li>
                <li class="nav-element"><a href="about.html">about</a></li>
            </ul>
        </div>
    
        <div id="hero">
             <img src="/assets/hero-logo.svg" alt="oofdere" />
        </div>
    
        <div id="bottom">
            <div id="bottomleft">
                <ul class="vertical-nav align-left">
                    <!--
                    <li class="nav-element"><a href="blog.html">blog</a></li>
                    <li class="nav-element"><a href="video.html">video</a></li>
                    <li class="nav-element"><a href="projects.html">projects</a></li>
                    -->
                </ul>
            </div>
        
            <div id="bottomright" class="align-right">
                <p>(C) 2021 Tibet Tornaci | <a href="credits.html">Credits</a></p>
            </div>
        </div>
    </div>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f376151111a24e839f1b3f45d6dac148"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>